@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Учётная запись", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
        </ul>
    }
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn btn-default login-btn-vkontakte" id="VKontakte" name="provider" value="VKontakte" title="Войти с помощью учетной записи Вконтакте">
                    <img src="~/Assets/vk-logo-mini.png" />
                    Войти через Вконтакте
                </button>
            </li>
        </ul>
    }
}
