body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login-btn-vkontakte {
    color: white;
    background: #4f7094;
    border: 1px solid #4f7094;
    padding: 5px;
    margin: 8px;
}

    .login-btn-vkontakte:hover {
        color: white;
        background: #7b95b1;
        border: 1px solid #a6c6e8;
    }

.user-avatar {
    background: url(https://vk.com/images/camera_200.png);
    background-size: 100%;
}

.debug {
    border: 1px solid red;
}

.task-editor .tasks-list li {
    height: 44px;
    border: 1px solid #e2e2e2;
    background: #fafcff;
    margin-top: 3px;
    padding: 2px 6px;
    border-radius: 4px;
}

    .task-editor .tasks-list li:hover {
        background: #eef2f7;
        cursor: pointer;
        user-select: none;
    }

    .task-editor .tasks-list li .task {
        color: #455db3;
    }

    .task-editor .tasks-list li .address {
        color: #b3b3b3;
    }

.preview {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inline {
    display: inline-block;
}

.grid-task-text {
    color: #000000aa;
    /* text-shadow: 1px 1px 0 black, -1px -1px 0 black; */
}

.grid-task {
    border: 1px solid #96d2a6;
    background: #ddf1e2;
    padding: 7px;
    text-align: center;
    margin-left: -1px;
    margin-top: -1px;
}

    .grid-task:hover {
        background: #f6fddd;
        user-select: none;
        cursor: pointer;
    }

    .grid-task .task {
        width: 70%;
    }

    .grid-task .colorize {
        width: 20%;
        padding: 0px;
        border: 1px solid black;
        background: white;
    }

        .grid-task .colorize:hover {
            border: 1px solid white;
        }

.task-editor .fields-list {
    padding: 0px;
    list-style: none;
}

.full-width {
    max-width: 100%;
    min-width: 100%
}
