@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
<div>
    <h2>Меню</h2>
    @if (User.IsInRole("admin"))
    {
        <i>Администратор:</i>
        <ul>
            <li>Управление организаторами</li>
        </ul>
    }
    @if (User.IsInRole("organizer"))
    {
        <i>Организатор:</i>
        <ul>
            <li>Редактор игр</li>
            <li>История игр</li>
            <li>Запуск игр</li>
            <li>Турнирная таблица</li>
        </ul>
    }
    @if (User.IsInRole("admin") || User.IsInRole("organizer")) {
        <i>Пользователь:</i>
    }
        <ul>
            <li><a href="@Url.Action("Player", "Social")">Мой профиль</a></li>
            <li><a href="@Url.Action("TeamList", "Social")">Список команд</a></li>
        </ul>
</div>
}
else
{
    <div class="jumbotron">
        <h2>Найт Лига</h2>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
}
